/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --box-shadow-color:rgba(12, 9, 8, 0.877);
  --sub-background-color:rgba(226, 187, 14, 0.527);
  --background-color:rgb(198, 220, 223);
  --first-color: #0fa18e;
  --second-color: #01131d;
  --third-color:#0fa18e;
}
/***icon***/
:root{
  --iconsize:25px;
  --iconpadding:5px;
  --iconbox:45px;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --project-title:25px;
  --project-sub-title:15px;
}
@media screen and (min-width: 798px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  background-color: var(--background-color);
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  /* margin-bottom: var(--mb-4); */
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 3px;
  left: 0;
  right: 0;
  bottom:3px;
  margin: auto;
  display: block;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  margin:0px;
  padding: 10px;
  width: 100%;
  height: 50px;
  /* background-color: #d4c6b6; */
  position: fixed;
  top: 0;
  left: 0;
  font-size: 21px;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px var(--box-shadow-color);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 798px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
    text-align: center;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 25px;
  background-color: var(--first-color);
}
.nav__logo{
  color: var(--second-color);
}
.nav__logo b{
  color: var(--first-color);
  padding-left: 3px;
  font-size: 25px;
}
.footer__title b{
  color: var(--first-color);
  padding-left: 3px;
  font-size: 39px;
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 25px;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  background-color: var(--sub-background-color);
  margin-top: 60px;
  height: calc(100vh -3rem);
  max-height: 700px;
  row-gap: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.home__full{
  padding: 10px;
  width: 100%;
  /* overflow: hidden; */
  height: 100%;
}

.home__data{
  align-self: center;
}
.typing{
  color:var(--first-color);
  font-size: 23px;
}
.typed-cursor{
  color:red;
  font-size: 23px;
  font-weight: 200;
}
.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
}
.home__social{
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  text-align: center;
  /* justify-content: center; */
  width: max-content;
  padding: var(--iconpadding);
  margin-bottom: var(--mb-2);
  font-size: var(--iconsize);
  color: var(--second-color);
  width: var(--iconbox);
  height: var(--iconbox); 
  border-radius: 50%;
  background-color: var(--background-color);
  border:2px solid var(--second-color);
  font-weight: bolder;
  margin: 10px;
}
.home__social-icon:hover{
  color: var(--background-color);
  background-color: var(--second-color);
}
.home__img{
  /* position: absolute; */
  right: 0 ;
  bottom: 0;
  width: 295px;
  height: 295px;
  border-radius: 10% 50% 50% 50%;
  overflow: hidden;
  border:5px solid var(--third-color);
  box-shadow: 0 12px 85px  var(--box-shadow-color);
}
.home__img img{
  width: 295px;
  height: 295px;

}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px var(--box-shadow-color);
}

/* ===== ABOUT =====*/
.about__container{
  /* background-color: red; */
  padding: 10px 0px 10px 0px;
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  box-shadow: 0 4px 25px  var(--box-shadow-color);
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--third-color);
}
/* education */
.education__subtitle{
  margin-bottom: var(--mb-2);
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #07486d; */
  font-variant: small-caps;
  text-align: center;
}
.education__img{
  /* background-color: red; */
  justify-self: center;
  height: 270px;
  width:470px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 4px 25px var(--box-shadow-color);
}
.education__text{
  /* background-color: #07486d; */
  text-align: justify;
  padding: 0px 15px 0px 15px;

}
.education__addres{
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  text-rendering: geometricPrecision;
}
.education__img img{
  height: 100%;
  /* box-shadow: 0px 4px 25px rgba(7, 6, 66, 0.466); */
}
/* ===== SKILLS =====*/
.skills__container{
  /* background-color: red; */
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px  var(--box-shadow-color);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.skills__html{
  width: 75%;
}
.skills__css{
  width: 45%;
}
.skills__js{
  width: 25%;
}
.skills__cpp{
  width: 85%;
}
.skills__php{
  width: 25%;
}
.skills__python{
  width: 35%;
}
.skills__img{
  width: 100%;
  border-radius: .5rem;
  border-radius: 15px;
  box-shadow: 0px 4px 25px var(--box-shadow-color);
}

/* ===== WORK (projects)=====*/
.work__container{
  row-gap: 2rem;
  /* background-color: red; */
}
.work__img{
  padding: 30px 10px 10px 10px ;
  box-shadow: 0 4px 25px var(--box-shadow-color); 
  border-radius: .5rem;
  overflow: hidden;
  height: 400px;
}
.project__text{
  color: var(--second-color);
  text-align: justify;
  padding: 5px 20px 10px 30px;
  /* background-color: #319cd6; */
  font-size: var(--font-semi);
}
.project__details{
  margin-top: 6px;
  margin-left: 40px;
  margin-right: 20px;
  text-align:right;
  color: var(--third-color);
  font-weight: 600;
  /* background-color: red; */
}
.project__title{
  font-weight: 700;
  font-size: var(--project-title);
  font-variant: small-caps;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 2px 3px black;
}
.project__title sub{
  color: var(--third-color);
  font-size: var(--project-sub-title);
}
.project__icon{
  font-size: 20px;
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px var(--second-color);
  color:var(--second-color);
  /* background-color: var(--first-color); */
}


/* ===== CONTACT =====*/
.contact__container{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact__details{
  width: 40%;
  padding: 10px;
}
.submit__from{
  width: 60%;
}
.contact__form{
  width: 100% !important;
}
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: 6px;
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}
/* Scroll top */
.scrolltop{
  box-shadow: 0px 4px 25px var(--second-color);
  position: fixed;
  bottom: 10%;
  right:10%;
  justify-content:center ;
  align-items: center;
  /* padding:.3rem; */
  padding: 5px;
  border-radius: 50%;
  height: 35px;
  width: auto;
  transition: .4s;
  z-index:-100;
  display: none;
}
.scrolltop_icon{
  /* display: none; */
  color:var(--second-color);
  font-size: 25px;
}
.show-scroll{
  z-index: 100;
  background-color: var(--third-color);
  display: block !important;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width:380px){
  .l-main{
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  body{
    margin: 0;
    padding: 0;
    width: 380px;
  }
  .home{
    height:420px !important;
  }
  .work__img{
    height: auto;
  }
  .education__img{
    width: calc(80%);
    height: auto;
  }
  /* .bd-grid{
    margin-left: 0%;
    margin-right: 0%;
  } */
  .home__img{
    border-radius: 50%;
    border:0px;
    box-shadow: 0px 4px 21px white ;
    z-index: -101;
    position: relative;
  }
  .home__img img{
    visibility: hidden;
    z-index: -100;
  }
  .home__social{
    padding-bottom: 20px;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    /* transform: rotate(-90deg); */
  }
  .home__social-icon{
    text-align: center;
    /* justify-content: center; */
    width: max-content;
    padding: var(--iconpadding);
    margin-bottom: var(--mb-2);
    font-size: var(--iconsize);
    color: var(--second-color);
    width: var(--iconbox);
    height: var(--iconbox); 
    border-radius: 50%;
    background-color: var(--background-color);
    border:2px solid var(--second-color);
    font-weight: bolder;
    margin: 5px;
  }
}

@media screen and (max-width: 586px )and (min-width :420px){
  .home{
    /* background-color: green; */
    height: 720px;
  }

  .work__img{
    height: auto;
    padding-bottom:20px ;
  }
  .home__img{ 
    justify-items: auto;
    position: relative;
    left:25%;
    top:-360px;
    overflow: hidden;
  }
  .home__img img{
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width:768px) and (max-width:990px) {
  /* body{background-color: red;} */
  .education__img {
    width: 350px;
    height: 190px;
  }
  .education__img img{
    width: 100%;
    height: 100%;
  }
  
}
@media screen and (max-width: 798px )and (min-width :586px){
  .home{
    /* background-color: var(--sub-background-color); */
    padding-left: 20px;
    height: 720px;
  }
  .home__data{
    padding-top: 55px;
  }
  .home__img{ 
    justify-items: auto;
    position: relative;
    left:40%;
    top:-350px;
    overflow: hidden;
  }
  .home__img img{
    height: 100%;
    width: 100%;
    
  }
  .home__social{
    margin-top: 0px;
  }
}
@media screen and (min-width: 798px) and (min-height: 368px){
  
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
 .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
  }
  
  .nav{
    height: calc(var(--header-vh) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }
  
  .home{
    padding-top: 23px;
    /* background-color: var(--sub-background-color); */
    padding-left: 20px;
    height: 720px;
  }
  .home__data{
    margin-top: 25px;
    align-self: flex-end;
  }
  .home__title{
    font-size: 2rem;
    
  }
  .home__social{
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 10px;
    flex-direction: column;
  }
  .home__social-icon{
    text-align: center;
    /* justify-content: center; */
    width: max-content;
    padding: var(--iconpadding);
    margin-bottom: var(--mb-2);
    font-size: var(--iconsize);
    color: var(--second-color);
    width: var(--iconbox);
    height: var(--iconbox); 
    border-radius: 50%;
    background-color: var(--background-color);
    border:2px solid var(--second-color);
    font-weight: bolder;
    margin: 10px;
  }
  .home__img{
    position: relative;
    top:-420px;
    right: -42%;
    width: 400px;
    height: 400px;
  }
  .home__img img{
    width: 400px;
    height: 400px;
  }
  
  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
    height: 300px;
  }
  .work__container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1324px){
  .home{
    height: 650px;
    padding: 80px 0px 10px 20px;
  }
  .scrolltop{
    right: 15%;
    width: 45px;
    height: 45px;
  }
  .scrolltop_icon{
    padding: 1px;
    font-size: 35px;
    justify-content: center;
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    position: relative;
    left:50%;
    top:-350px;
  }
  .l-header{
    padding:10px ;
  }
  .home__social{
    margin-top: 32px;
    flex-direction: row;
  }
   .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
  }
}
@media screen and (min-width: 1024px) and (min-height:720px){
  .home{
    /* background-color: rgba(216, 221, 209, 0.425); */
    height:calc(100vh - 5rem) ;
    width: 100%;
    padding:  75px 0px 0px 30px ;
    border-radius: 10px;
    /* border-left: 3px  solid red; */
  }
  .home__img{
    position: relative;
    left:50%;
    top:-350px;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
  }
}
@media screen and (max-height:800px){
  .home{
    justify-content: center;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
  }
}
@media screen and (max-width:419px){
  .education__img{
    width: calc(80%);
    height: auto;
  }
  .education__img img{
    width: 100%;
    height: 100%;
  }
  .work__img{
    height: auto;
  }
  .home__img{
    position: relative;
    left:82px;
    top:-300px;
    width: 250px;
    height: 250px;
  }
  .home__img img{
    width: 100%;
    height: 100%;
  }
  .home{
    /* background-color: red; */
    height: 700px;
  }
}
@media screen and (max-width: 650px){
  .contact__container{
    flex-direction: column;
  }
  .contact__details{
    width: 100%;
    padding: 10px;
  }
  .more_details_contact{
    padding-left: 50px;
  }
  .submit__from{
    width: 100%;
  }
}